.jumbotron {
    height: 300px;
    width: 100%;
    background-image: url(../img/jumbotron.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.slot{
      
      text-align: center;
      .img{
        
        
        img{
            width: 100%;
            height: 100%;
            object-fit: fill;
            margin: auto;
        }
    }
}
